@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 1.5rem;
}

.icon-shadow {
  box-shadow: 0px 0px 8px -4px rgba(20, 23, 26, 0.12),
    0px 4px 16px -1px rgba(20, 23, 26, 0.08);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.mint-success-gradient {
  background: linear-gradient(146.56deg, #7d4efb 9.86%, #f9082a 88.88%);
}

@layer utilities {
  .big-btn {
    @apply px-4 py-3 rounded-full text-center flex items-center justify-center text-black font-medium drop-shadow-sm hover:drop-shadow-lg;
  }
}
